// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.spinner {
	   height: 100vh;
	   display:flex;
	   flex-direction: column;
	   justify-content: center;
	   align-items: center;
 	}

 .page-content {
 	width:80%;
 	margin-left:auto;
 	margin-right:auto;
 	border-radius:5px;
 	background:#ffffff;
 	z-index:9999999999;
 	margin-top:-100px;
 	padding-top:20px;
 	padding-left:10px;
 	padding-right:10px;
 }

 #carouselExampleCaptions{
 	z-index:-999999;
 }

 	.search-result {
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}

	.card-place{
		margin-top: 10px;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: left;
		flex-direction: column;
	}

	.card-place:hover {
		cursor: pointer;
		opacity: 0.7;
  		transition: 0.3s;
	}
	.places-content{
		padding: 10px;
	}
	.search-result h1{
		padding-left: 10px;
	}

	.search-result img{
		object-fit: cover;
		max-height: 180px;
	}

	

 @media only screen and (max-width: 900px) {
  	.search-result {
  		width: 100%;
  	}

  	.page-content{
  		width:90%;
  	}
}