 <template>
 <div style="width:100%;margin-left: auto; margin-right: auto;">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                
                <div v-for="item in places" class="carousel-item" :class="item.active ? 'active' : ''">
                  <img  :src="item.img" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>{{ item.name }}</h5>
                    <p>{{ item.description }}</p>
                  </div>
                </div>
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            </div>
 </template>
 <script>
    export default {
      data(){
        return {
            places:[
              {
                name: "Place 1",
                img: "https://fastly.4sqi.net/img/general/original/462709430_W2gc6Btx7-aY4mNFkYF1o5AlgfH5t-bMfQaQ2FwCB9E.jpg",
                description: "Some representative placeholder content for the third slide.",
                active:true
              },
              {
                name: "Place 2",
                img: "https://www.planetware.com/photos-large/USNY/usa-best-places-new-york.jpg",
                description: "Some representative placeholder content for the third slide.",
                active:false
              },
              {
                name: "Place 3",
                img: "https://www.planetware.com/photos-large/SEY/best-islands-maldives.jpg",
                description: "Some representative placeholder content for the third slide.",
                active:false
              }
            ]
        }
      },
      mounted() {
            console.log('Component mounted.')
      },
      created(){

          Event.$on("updateCarousel",(data) => {
              //this.updateCarousel(data);
          });

      },
      methods: {

          updateCarousel(data){

            var data_places = data.data.places;
            this.places = [];
              for (var i=0; i < data_places.length; i++){
                  var obj = data_places[i];
                  var place = {
                    name: obj.name,
                    description: obj.categories[0].name,
                    img: obj.photos[0].prefix + "original" + obj.photos[0].suffix
                  }

              this.places.push(place);


              $('.carousel').carousel({   
                  pause: true,
                  interval: false
              }).carousel(0);

            }
          }
      }
    }
</script>
<style>
  #carouselExampleCaptions img{
    width: 100%;
    object-fit: cover;
    max-height: 300px;
  }
</style>
  