<template>
	<nav class="navbar navbar-dark bg-danger fixed-top">
	  <div class="container-fluid">
	    <form class="d-flex" @submit="submit">
	      <input class="form-control me-2" type="search" placeholder="Where do you want to go?" aria-label="Where are you going?" v-model="city" required>
	      <button class="btn btn-outline-light" type="submit">Search</button>
	    </form>
	  </div>
	</nav>
</template>

<script>
    export default {
    	data(){
    		return {
    			city:""
    		}
    	},
        mounted() {
            console.log('Component mounted.')
        },
        created(){

        	if (localStorage.getItem("keyword") != null){
        		this.city = localStorage.getItem("keyword");
        		this.submit();
        	}
        },

        methods: {
        	submit: function(e){

        		 var vue = this;
        		 const params = {
        		 	city:vue.city
        		 };

        		 Event.$emit("flagSearch", true);

                 axios
                      .get('/api/weathermap/today',{params})
                      .then(function(response){
                      
                      		if (response.data.status == "success"){

                      			localStorage.setItem("keyword",vue.city);
                      			Event.$emit("displaySearchData", response.data);
                      		
                      		}else{
                      			Event.$emit("displayError", response.data.message);
                      		}
                      		
                      		Event.$emit("flagSearch", false);
                        });

                 e.preventDefault(); 
        	},

        	getCity(){
        		return this.city;
        	}
        },

        computed: {


        }
    }
</script>
<style>
	nav input {
		width: 250px !important;
	}
</style>