<template>
	<div>
		<div v-if="searching" class="spinner">
		  <div class="text-center">
		  	<div class="spinner-border" role="status">
		    	<span class="visually-hidden">Loading...</span>
		  	</div>
			</div>
		</div>
		<div v-else >
			<slot v-if="is_successful">
				<slot v-if="weather != null">
					<div class="content-header search-result">
						<h1>How is the weather today in {{weather.name}}?</h1>
					</div>

					<div class="row search-result">
						<div class="col-md-12">
							<div class="card">
							  <h5 class="card-header">Weather forecast</h5>
							  <div class="card-body">
							  	<div class="row">
							  		<div class="col-md-6 col-xs-12">
							    		<h5 class="card-title">It looks like today will be {{ weather.weather[0].description }}</h5>
							    	</div>
							    	<div class="col-md-6 col-xs-12">
							    			<div class="row">
							    				<div class="col-sm-6 col-xs-6">Humidity</div>
							    				<div class="col-sm-6 col-xs-6">{{weather.main.humidity}}</div>
							    			</div>
							    			<div class="row">
							    				<div class="col-sm-6 col-xs-6">Min temp</div>
							    				<div class="col-sm-6 col-xs-6">{{weather.main.temp_min}}</div>
							    			</div>
							    			<div class="row">
							    				<div class="col-sm-6 col-xs-6">Max temp</div>
							    				<div class="col-sm-6 col-xs-6">{{weather.main.temp_max}}</div>
							    			</div>
							    	</div>
							   </div>
							    <a href="#" class="btn btn-primary">Know more...</a>
							  </div>
							</div>
						</div>
					</div>
				</slot>
				<div class="content-header search-result">
					<h1>Places nearby {{keyword}}</h1>
				</div>
				<div class="row search-result">
					<div v-for="item in places_near_by" class="col-md-4 col-sm-6 places-content">
						<div class="card card-place" >
				  			<img :src="item.img" class="card-img-top" alt="...">
						  <div class="card-body">
						    <h5 class="card-title">{{ item.name }}</h5>
						    <p class="card-text"><span class="badge bg-danger">{{ item.description }}</span></p>
						    <p class="card-text">{{ item.address }}</p>
						   
						  </div>
						</div>
					</div>
				</div>
			</slot>
			<div else>
				<div class="content-header search-result">
						<h1>{{error_message}}</h1>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
    export default {
    	data(){
    		return {
    			places_near_by: [{
	    				name: "Place 1",
	    				description: "Restaurant",
	    				button : {
	    					title: "Visit",
	    					link: "https://test.com"
	    				},
	    				address: "",
	    				img: "https://www.planetware.com/photos-large/JPN/japan-tokyo-imperial-palace.jpg"
    				},
    				{
    					name: "Place 2",
	    				description: "Resort",
	    				button : {
	    					title: "Visit",
	    					link: "https://test.com"
	    				},
	    				address: "",
	    				img: "https://www.planetware.com/photos-large/USNY/usa-best-places-new-york.jpg"
    				},
    				{
    					name: "Place 3",
	    				description: "Hotel",
	    				button : {
	    					title: "Visit",
	    					link: "https://test.com"
	    				},
	    				address: "",
	    				img: "https://www.planetware.com/photos-large/SEY/best-islands-maldives.jpg"
    				}

    			],
	    		searching: false,
	    		keyword:"",
	    		weather: null,
				is_successful:true,
				error_message:""
    		}

    	},
        mounted() {
            console.log('Component mounted.')
        },

        created(){
        	Event.$on("displaySearchData",(data) => {
        		this.displayData(data);
        	});
        	Event.$on("flagSearch",(data) => {
        		this.flagSearch(data);
        	});
        	Event.$on("displayError",(data) => {
        		this.displayError(data);
        	});
        },

        methods: {

        	displayData(data){
        			
        		var data_places = data.data.places;
        		console.log(data_places);
        		this.weather = data.data.weather;

        		if (this.weather)
        			this.keyword = this.weather.name;

        		this.is_successful=true;

        		this.places_near_by = [];
        		for (var i=0; i < data_places.length; i++){
        			var obj = data_places[i];

        			var place = {
        				name: obj.name,
        				description: obj.categories[0].name,
        				address: obj.location.address + " " + obj.location.cross_street + " " + obj.location.locality + " " + obj.location.region,

        				button: {
        					title: "Visit",
	    					link: "https://test.com"
        				},
        				img: obj.photos[0].prefix + "original" + obj.photos[0].suffix
        			}
        			this.places_near_by.push(place);
        		}
        	},

        	displayError(message){
        		this.is_successful=false;
        		this.error_message = message;
        	},

        	flagSearch(data){
        		this.searching=data;
        	}
        },

       
    }
</script>
<style>


</style>